@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP|Raleway|Cinzel+Decorative|Raleway+Dots");

:root {
  --body-bg-colour: hsla(60, 10%, 98%, 1);

  --big-img-width: 98.5vw;
  --main-column-width: 38em;

  --preview-width: 9rem;

  --main-text-colour: black;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: var(--body-bg-colour);
  font-family: "Noto Serif JP", serif;
  font-size: 21px;
  word-break: break-word;
  padding: 0;
}
.page-content {
  margin: auto;
  max-width: var(--main-column-width);
  min-height: 64vh;
  padding: 0 1em;
  transition: opacity 0.5s;
}
.page-content.invisible {
  opacity: 0;
}
@media only screen and (min-device-width: 812px) {
  .page-content {
    padding: 0;
  }
}

h1 {
  border-bottom: 0.5mm solid black;
  column-span: all;
  font-family: "Raleway Dots", cursive;
  font-size: 200%;
  font-weight: lighter;
  margin: 1rem 0;
}
.name-title {
  font-size: 400%;
}

a.site-title {
  color: var(--main-text-colour);
  margin-left: 1rem;
  text-decoration: none;
}

h2,
h3,
h4,
h5 {
  margin-top: 1em;
  font-family: "Raleway", sans-serif;
  break-inside: avoid;
  page-break-inside: avoid;
}
p {
  margin-top: 1em;
  widows: 3;
  orphans: 3;
}
p.reset {
  margin: 0 -1em;
}
@media only screen and (min-device-width: 812px) {
  p.reset {
    margin: 0;
  }
}
section {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
  border-top: 1px solid hsla(0, 0%, 0%, 0.05);
  margin-bottom: 1em;
}
a {
  border-bottom: 3px solid rgba(31, 89, 122, 0.05);
  color: #1f597a;
  text-decoration: none;
  transition: all 0.2s;
}
a:visited {
  color: #2f85b6;
}
a:hover {
  cursor: pointer;
}

button,
a.button {
  border-radius: 0.12em;
  border: 0.1em solid black;
  box-sizing: border-box;
  display: inline-block;
  font-family: inherit;
  font-weight: 300;
  margin: 1em 0;
  padding: 0.35em 1.2em;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}
button:hover,
a.button:hover {
  color: white;
  background-color: black;
}
button.disabled,
a.button.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.auth-with-pocket {
  text-align: center;
}

.auth-with-pocket img {
  height: 1.1em;
  transform: translateY(5px);
  width: initial;
}

img {
  width: 100%;
}

.img-circle {
  width: 2em;
  border-radius: 50%;
  transform: translateY(0.6em);
}

.range-output {
  float: right;
}

/* Checkbox styling */
input[type="checkbox"] {
  height: 1em;
}

.form-group {
  background-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 0.5em;
  border: 1px solid silver;
  margin: 0.25em;
  padding: 0.5em;
}
.form-group p {
  font-size: 80%;
}

.slider {
  width: 100%;
}

.hamburger {
  height: 2em;
  padding-right: 1em;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  z-index: 1000;
}
.hamburger svg {
  width: 3em;
  opacity: 50%;
}
.hamburger img {
  transform: translateY(-0.5em);
}

.profile {
  background-color: azure;
  display: block;
  height: 100vh;
  line-height: 2;
  padding-top: 4em;
  position: fixed;
  right: -100vw;
  text-align: center;
  top: 0;
  transition: all 0.2s ease-in-out;
  /* width: 12em; */
  z-index: 500;
}

.profile.menu-active {
  right: 0;
  width: 100vw;
}
@media only screen and (min-device-width: 812px) {
  .profile.menu-active {
    box-shadow: -16px 0px 22px 0px rgba(0, 0, 0, 0.26);
    max-width: 15em;
  }
}
.profile ul {
  padding: 0;
}
.profile li {
  display: block;
}

figure {
  float: right;
  max-width: 40vw;
  width: 10em;
}
figure img {
  max-height: 5em;
}
figure figcaption {
  font-size: 70%;
}

.whisper {
  font-size: 70%;
  background-color: chartreuse;
  padding: 0 1em;
}

.long-story {
  column-width: 17em;
}
.long-story h2 {
  column-span: all;
}
.what-is-pocket img {
  display: inline-block;
  height: 1em;
  transform: translateY(0.2em) scale(1.5) translateX(0em);
  width: 6em;
}
.yeah-but-why img {
  width: 40%;
  float: right;
  mix-blend-mode: multiply;
}

blockquote {
  margin: 1em;
}
blockquote p {
  margin-left: -0.5em;
  display: inline;
  font-size: 90%;
}

.use-case img {
  border-radius: 50%;
  float: left;
  height: 3em;
  margin-left: -3.5em;
  width: auto;
}
.use-case li {
  list-style-type: none;
  margin: 1em 0;
  padding-left: 3.5em;
}
.use-case span.testimonial-name {
  float: right;
  font-size: 80%;
  opacity: 0.8;
}

.icon > svg {
  display: inline-block;
  height: 1.3em;
  vertical-align: middle;
}

.icon > svg path {
  fill: #4d4d4d;
}

/* home */
.onboarding-flow br {
  display: none;
}
.onboarding-flow li {
  list-style-type: none;
}
@media only screen and (min-device-width: 812px) {
  .onboarding-flow li {
    display: inline-block;
    min-height: 10em;
    text-align: center;
    vertical-align: top;
    width: 32%;
  }
  .onboarding-flow a.button {
    min-height: 10em;
  }
  .onboarding-flow br {
    display: inline;
  }
}

/* index */
.mega-image {
  height: 64vw;
  margin: 0;
  object-fit: cover;
  object-position: 50% 54%;
  width: 100%;
}
@media only screen and (min-device-width: 812px) {
  .mega-image {
    height: 60vh;
    margin-left: calc((var(--big-img-width) - var(--main-column-width)) * -0.5);
    object-fit: cover;
    object-position: 50% 34%;
    width: var(--big-img-width);
  }
}
.index h2 {
  margin-top: 6em;
}

.value-prop {
  font-size: 120%;
  text-align: center;
}
.secondary-prop {
  font-size: 90%;
  opacity: 65%;
}

/* footer */
footer {
  background-color: hsla(0, 0%, 0%, 0.8);
  border-top: 1px solid;
  box-shadow: inset 0px 20px 10px 0px rgba(0, 0, 0, 0.75);
  color: white;
  column-rule: 1px solid silver;
  font-size: 70%;
  margin-top: 10em;
  padding: 1em;
}
.footer-content {
  column-width: 17em;
  margin: auto;
  max-width: 60em;
}
footer h2 {
  column-span: all;
}
.footer-content div {
  break-inside: avoid-column;
}
.social-media-list {
  list-style-type: none;
}

/* article preview page */
.articles-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
}
.article-preview {
  display: inline-block;
  flex: 0 1 auto;
  font-size: 70%;
  justify-content: space-between;
  max-height: 22em;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 20%;
}
.article-preview img.feature-img {
  height: var(--preview-width);
  width: var(--preview-width);
  object-fit: cover;
}
h3.preview-title,
p.exerpt,
p.meta {
  margin: 0;
  width: var(--preview-width);
}
p.exerpt {
  font-size: 80%;
}
p.meta {
  font-size: 70%;
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  margin: 0;
  padding: 2.5em 0 1em 0;
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--body-bg-colour),
    var(--body-bg-colour)
  );
}
p.meta a {
  float: right;
}
img.domain-meta {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 2em;
  /* mix-blend-mode: multiply; */
}

.show {
  display: block;
}
.hide {
  display: none;
}

/* history page */
.history-container h2 {
  text-transform: capitalize;
}

/* debug */
.monospace {
  font-family: monospace;
  font-size: 80%;
}
section#debug-data {
  column-width: 17em;
}
