---
layout: default
---

<h2 class="finalise-pocket-header">
  <span id="waiting" class="show">Nearly there&hellip;</span>
  <span id="done" class="hide"
    >If that looks good, we're done here!
    <a href="home">Let's go home and finish off</a></span
  >
</h2>

<div id="articles-container" class="articles-container">
  {% include pocket_article_template.html %}
</div>

<p>
  We're trying to get a few of your recent Pocket articles to check that the
  connection has worked.
</p>

{% include base-scripts.md %}

<script src="js/finalise-pocket.js"></script>
