<option value="AC" data-value="Ascension Island">Ascension Island</option>
<option value="AD" data-value="Andorra">Andorra</option>
<option value="AE" data-value="United Arab Emirates">
  United Arab Emirates
</option>
<option value="AF" data-value="Afghanistan">Afghanistan</option>
<option value="AG" data-value="Antigua And Barbuda">
  Antigua &amp; Barbuda
</option>
<option value="AI" data-value="Anguilla">Anguilla</option>
<option value="AL" data-value="Albania">Albania</option>
<option value="AM" data-value="Armenia">Armenia</option>
<option value="AO" data-value="Angola">Angola</option>
<option value="AR" data-value="Argentina">Argentina</option>
<option value="AT" data-value="Austria">Austria</option>
<option value="AU" data-value="Australia">Australia</option>
<option value="AU" data-value="Australia">Australia</option>
<option value="AW" data-value="Aruba">Aruba</option>
<option value="AX" data-value="Aland Islands">Åland Islands</option>
<option value="AZ" data-value="Azerbaijan">Azerbaijan</option>
<option value="BA" data-value="Bosnia And Herzegovina">
  Bosnia &amp; Herzegovina
</option>
<option value="BB" data-value="Barbados">Barbados</option>
<option value="BD" data-value="Bangladesh">Bangladesh</option>
<option value="BE" data-value="Belgium">Belgium</option>
<option value="BF" data-value="Burkina Faso">Burkina Faso</option>
<option value="BG" data-value="Bulgaria">Bulgaria</option>
<option value="BH" data-value="Bahrain">Bahrain</option>
<option value="BI" data-value="Burundi">Burundi</option>
<option value="BJ" data-value="Benin">Benin</option>
<option value="BL" data-value="Saint Barthélemy">St. Barthélemy</option>
<option value="BM" data-value="Bermuda">Bermuda</option>
<option value="BN" data-value="Brunei">Brunei</option>
<option value="BO" data-value="Bolivia">Bolivia</option>
<option value="BQ" data-value="Caribbean Netherlands">
  Caribbean Netherlands
</option>
<option value="BR" data-value="Brazil">Brazil</option>
<option value="BS" data-value="Bahamas">Bahamas</option>
<option value="BT" data-value="Bhutan">Bhutan</option>
<option value="BV" data-value="Bouvet Island">Bouvet Island</option>
<option value="BW" data-value="Botswana">Botswana</option>
<option value="BY" data-value="Belarus">Belarus</option>
<option value="BZ" data-value="Belize">Belize</option>
<option value="CA" data-value="Canada">Canada</option>
<option value="CA" data-value="Canada">Canada</option>
<option value="CC" data-value="Cocos (Keeling) Islands">
  Cocos (Keeling) Islands
</option>
<option value="CD" data-value="Congo, The Democratic Republic Of The">
  Congo - Kinshasa
</option>
<option value="CF" data-value="Central African Republic">
  Central African Republic
</option>
<option value="CG" data-value="Congo">Congo - Brazzaville</option>
<option value="CH" data-value="Switzerland">Switzerland</option>
<option value="CI" data-value="Côte d'Ivoire">Côte d’Ivoire</option>
<option value="CK" data-value="Cook Islands">Cook Islands</option>
<option value="CL" data-value="Chile">Chile</option>
<option value="CM" data-value="Republic of Cameroon">Cameroon</option>
<option value="CN" data-value="China">China</option>
<option value="CO" data-value="Colombia">Colombia</option>
<option value="CR" data-value="Costa Rica">Costa Rica</option>
<option value="CV" data-value="Cape Verde">Cape Verde</option>
<option value="CW" data-value="Curaçao">Curaçao</option>
<option value="CX" data-value="Christmas Island">Christmas Island</option>
<option value="CY" data-value="Cyprus">Cyprus</option>
<option value="CZ" data-value="Czech Republic">Czechia</option>
<option value="DE" data-value="Germany">Germany</option>
<option value="DJ" data-value="Djibouti">Djibouti</option>
<option value="DK" data-value="Denmark">Denmark</option>
<option value="DM" data-value="Dominica">Dominica</option>
<option value="DO" data-value="Dominican Republic">Dominican Republic</option>
<option value="DZ" data-value="Algeria">Algeria</option>
<option value="EC" data-value="Ecuador">Ecuador</option>
<option value="EE" data-value="Estonia">Estonia</option>
<option value="EG" data-value="Egypt">Egypt</option>
<option value="EH" data-value="Western Sahara">Western Sahara</option>
<option value="ER" data-value="Eritrea">Eritrea</option>
<option value="ES" data-value="Spain">Spain</option>
<option value="ET" data-value="Ethiopia">Ethiopia</option>
<option value="FI" data-value="Finland">Finland</option>
<option value="FJ" data-value="Fiji">Fiji</option>
<option value="FK" data-value="Falkland Islands (Malvinas)">
  Falkland Islands
</option>
<option value="FO" data-value="Faroe Islands">Faroe Islands</option>
<option value="FR" data-value="France">France</option>
<option value="GA" data-value="Gabon">Gabon</option>
<option value="GB" data-value="United Kingdom">United Kingdom</option>
<option value="GD" data-value="Grenada">Grenada</option>
<option value="GE" data-value="Georgia">Georgia</option>
<option value="GF" data-value="French Guiana">French Guiana</option>
<option value="GG" data-value="Guernsey">Guernsey</option>
<option value="GH" data-value="Ghana">Ghana</option>
<option value="GI" data-value="Gibraltar">Gibraltar</option>
<option value="GL" data-value="Greenland">Greenland</option>
<option value="GM" data-value="Gambia">Gambia</option>
<option value="GN" data-value="Guinea">Guinea</option>
<option value="GP" data-value="Guadeloupe">Guadeloupe</option>
<option value="GQ" data-value="Equatorial Guinea">Equatorial Guinea</option>
<option value="GR" data-value="Greece">Greece</option>
<option value="GS" data-value="South Georgia And The South Sandwich Islands">
  South Georgia &amp; South Sandwich Islands
</option>
<option value="GT" data-value="Guatemala">Guatemala</option>
<option value="GW" data-value="Guinea Bissau">Guinea-Bissau</option>
<option value="GY" data-value="Guyana">Guyana</option>
<option value="HK" data-value="Hong Kong">Hong Kong SAR</option>
<option value="HM" data-value="Heard Island And Mcdonald Islands">
  Heard &amp; McDonald Islands
</option>
<option value="HN" data-value="Honduras">Honduras</option>
<option value="HR" data-value="Croatia">Croatia</option>
<option value="HT" data-value="Haiti">Haiti</option>
<option value="HU" data-value="Hungary">Hungary</option>
<option value="ID" data-value="Indonesia">Indonesia</option>
<option value="IE" data-value="Ireland">Ireland</option>
<option value="IL" data-value="Israel">Israel</option>
<option value="IM" data-value="Isle Of Man">Isle of Man</option>
<option value="IN" data-value="India">India</option>
<option value="IO" data-value="British Indian Ocean Territory">
  British Indian Ocean Territory
</option>
<option value="IQ" data-value="Iraq">Iraq</option>
<option value="IS" data-value="Iceland">Iceland</option>
<option value="IT" data-value="Italy">Italy</option>
<option value="JE" data-value="Jersey">Jersey</option>
<option value="JM" data-value="Jamaica">Jamaica</option>
<option value="JO" data-value="Jordan">Jordan</option>
<option value="JP" data-value="Japan">Japan</option>
<option value="KE" data-value="Kenya">Kenya</option>
<option value="KG" data-value="Kyrgyzstan">Kyrgyzstan</option>
<option value="KH" data-value="Cambodia">Cambodia</option>
<option value="KI" data-value="Kiribati">Kiribati</option>
<option value="KM" data-value="Comoros">Comoros</option>
<option value="KN" data-value="Saint Kitts And Nevis">
  St. Kitts &amp; Nevis
</option>
<option value="KR" data-value="South Korea">South Korea</option>
<option value="KW" data-value="Kuwait">Kuwait</option>
<option value="KY" data-value="Cayman Islands">Cayman Islands</option>
<option value="KZ" data-value="Kazakhstan">Kazakhstan</option>
<option value="LA" data-value="Lao People's Democratic Republic">Laos</option>
<option value="LB" data-value="Lebanon">Lebanon</option>
<option value="LC" data-value="Saint Lucia">St. Lucia</option>
<option value="LI" data-value="Liechtenstein">Liechtenstein</option>
<option value="LK" data-value="Sri Lanka">Sri Lanka</option>
<option value="LR" data-value="Liberia">Liberia</option>
<option value="LS" data-value="Lesotho">Lesotho</option>
<option value="LT" data-value="Lithuania">Lithuania</option>
<option value="LU" data-value="Luxembourg">Luxembourg</option>
<option value="LV" data-value="Latvia">Latvia</option>
<option value="LY" data-value="Libyan Arab Jamahiriya">Libya</option>
<option value="MA" data-value="Morocco">Morocco</option>
<option value="MC" data-value="Monaco">Monaco</option>
<option value="MD" data-value="Moldova, Republic of">Moldova</option>
<option value="ME" data-value="Montenegro">Montenegro</option>
<option value="MF" data-value="Saint Martin">St. Martin</option>
<option value="MG" data-value="Madagascar">Madagascar</option>
<option value="MK" data-value="North Macedonia">North Macedonia</option>
<option value="ML" data-value="Mali">Mali</option>
<option value="MM" data-value="Myanmar">Myanmar (Burma)</option>
<option value="MN" data-value="Mongolia">Mongolia</option>
<option value="MO" data-value="Macao">Macao SAR</option>
<option value="MQ" data-value="Martinique">Martinique</option>
<option value="MR" data-value="Mauritania">Mauritania</option>
<option value="MS" data-value="Montserrat">Montserrat</option>
<option value="MT" data-value="Malta">Malta</option>
<option value="MU" data-value="Mauritius">Mauritius</option>
<option value="MV" data-value="Maldives">Maldives</option>
<option value="MW" data-value="Malawi">Malawi</option>
<option value="MX" data-value="Mexico">Mexico</option>
<option value="MY" data-value="Malaysia">Malaysia</option>
<option value="MZ" data-value="Mozambique">Mozambique</option>
<option value="NA" data-value="Namibia">Namibia</option>
<option value="NC" data-value="New Caledonia">New Caledonia</option>
<option value="NE" data-value="Niger">Niger</option>
<option value="NF" data-value="Norfolk Island">Norfolk Island</option>
<option value="NG" data-value="Nigeria">Nigeria</option>
<option value="NI" data-value="Nicaragua">Nicaragua</option>
<option value="NL" data-value="Netherlands">Netherlands</option>
<option value="NO" data-value="Norway">Norway</option>
<option value="NP" data-value="Nepal">Nepal</option>
<option value="NR" data-value="Nauru">Nauru</option>
<option value="NU" data-value="Niue">Niue</option>
<option value="NZ" data-value="New Zealand">New Zealand</option>
<option value="NZ" data-value="New Zealand">New Zealand</option>
<option value="OM" data-value="Oman">Oman</option>
<option value="PA" data-value="Panama">Panama</option>
<option value="PE" data-value="Peru">Peru</option>
<option value="PF" data-value="French Polynesia">French Polynesia</option>
<option value="PG" data-value="Papua New Guinea">Papua New Guinea</option>
<option value="PH" data-value="Philippines">Philippines</option>
<option value="PK" data-value="Pakistan">Pakistan</option>
<option value="PL" data-value="Poland">Poland</option>
<option value="PM" data-value="Saint Pierre And Miquelon">
  St. Pierre &amp; Miquelon
</option>
<option value="PN" data-value="Pitcairn">Pitcairn Islands</option>
<option value="PS" data-value="Palestinian Territory, Occupied">
  Palestinian Territories
</option>
<option value="PT" data-value="Portugal">Portugal</option>
<option value="PY" data-value="Paraguay">Paraguay</option>
<option value="QA" data-value="Qatar">Qatar</option>
<option value="RE" data-value="Reunion">Réunion</option>
<option value="RO" data-value="Romania">Romania</option>
<option value="RS" data-value="Serbia">Serbia</option>
<option value="RU" data-value="Russia">Russia</option>
<option value="RW" data-value="Rwanda">Rwanda</option>
<option value="SA" data-value="Saudi Arabia">Saudi Arabia</option>
<option value="SB" data-value="Solomon Islands">Solomon Islands</option>
<option value="SC" data-value="Seychelles">Seychelles</option>
<option value="SD" data-value="Sudan">Sudan</option>
<option value="SE" data-value="Sweden">Sweden</option>
<option value="SG" data-value="Singapore">Singapore</option>
<option value="SH" data-value="Saint Helena">St. Helena</option>
<option value="SI" data-value="Slovenia">Slovenia</option>
<option value="SJ" data-value="Svalbard And Jan Mayen">
  Svalbard &amp; Jan Mayen
</option>
<option value="SK" data-value="Slovakia">Slovakia</option>
<option value="SL" data-value="Sierra Leone">Sierra Leone</option>
<option value="SM" data-value="San Marino">San Marino</option>
<option value="SN" data-value="Senegal">Senegal</option>
<option value="SO" data-value="Somalia">Somalia</option>
<option value="SR" data-value="Suriname">Suriname</option>
<option value="SS" data-value="South Sudan">South Sudan</option>
<option value="ST" data-value="Sao Tome And Principe">
  São Tomé &amp; Príncipe
</option>
<option value="SV" data-value="El Salvador">El Salvador</option>
<option value="SX" data-value="Sint Maarten">Sint Maarten</option>
<option value="SZ" data-value="Eswatini">Eswatini</option>
<option value="TA" data-value="Tristan da Cunha">Tristan da Cunha</option>
<option value="TC" data-value="Turks and Caicos Islands">
  Turks &amp; Caicos Islands
</option>
<option value="TD" data-value="Chad">Chad</option>
<option value="TF" data-value="French Southern Territories">
  French Southern Territories
</option>
<option value="TG" data-value="Togo">Togo</option>
<option value="TH" data-value="Thailand">Thailand</option>
<option value="TJ" data-value="Tajikistan">Tajikistan</option>
<option value="TK" data-value="Tokelau">Tokelau</option>
<option value="TL" data-value="Timor Leste">Timor-Leste</option>
<option value="TM" data-value="Turkmenistan">Turkmenistan</option>
<option value="TN" data-value="Tunisia">Tunisia</option>
<option value="TO" data-value="Tonga">Tonga</option>
<option value="TR" data-value="Turkey">Turkey</option>
<option value="TT" data-value="Trinidad and Tobago">
  Trinidad &amp; Tobago
</option>
<option value="TV" data-value="Tuvalu">Tuvalu</option>
<option value="TW" data-value="Taiwan">Taiwan</option>
<option value="TZ" data-value="Tanzania, United Republic Of">Tanzania</option>
<option value="UA" data-value="Ukraine">Ukraine</option>
<option value="UG" data-value="Uganda">Uganda</option>
<option value="UM" data-value="United States Minor Outlying Islands">
  U.S. Outlying Islands
</option>
<option value="US" data-value="United States">United States</option>
<option value="US" data-value="United States">United States</option>
<option value="UY" data-value="Uruguay">Uruguay</option>
<option value="UZ" data-value="Uzbekistan">Uzbekistan</option>
<option value="VA" data-value="Holy See (Vatican City State)">
  Vatican City
</option>
<option value="VC" data-value="St. Vincent">
  St. Vincent &amp; Grenadines
</option>
<option value="VE" data-value="Venezuela">Venezuela</option>
<option value="VG" data-value="Virgin Islands, British">
  British Virgin Islands
</option>
<option value="VN" data-value="Vietnam">Vietnam</option>
<option value="VU" data-value="Vanuatu">Vanuatu</option>
<option value="WF" data-value="Wallis And Futuna">Wallis &amp; Futuna</option>
<option value="WS" data-value="Samoa">Samoa</option>
<option value="XK" data-value="Kosovo">Kosovo</option>
<option value="YE" data-value="Yemen">Yemen</option>
<option value="YT" data-value="Mayotte">Mayotte</option>
<option value="ZA" data-value="South Africa">South Africa</option>
<option value="ZM" data-value="Zambia">Zambia</option>
<option value="ZW" data-value="Zimbabwe">Zimbabwe</option>
