<header class="site-header">
  <div class="wrapper {{page.type}}">
    <h1>
      <a class="site-title" href="{{ site.baseurl }}/home">{{ site.title }}</a>
    </h1>

    <div class="hamburger">
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100">
        <!-- prettier-ignore -->
        <line id="t" x1="10" x2="90" y1="30" y2="30" stroke="#000" stroke-linecap="round" stroke-width="10"/>
        <!-- prettier-ignore -->
        <line id="m" x1="10" x2="90" y1="50" y2="50" stroke="#000" stroke-linecap="round" stroke-width="10"/>
        <!-- prettier-ignore -->
        <line id="b" x1="10" x2="90" y1="70" y2="70" stroke="#000" stroke-linecap="round" stroke-width="10"/>
      </svg>
    </div>

    <div class="profile">
      <p id="header-profile-name"></p>
      <img
        id="header-profile-picture"
        class="img-circle profile-preview"
        src="https://placebear.com/100/100"
      />
      <p class="name"></p>
      <ul>
        <li><a href='{{ "home" | absolute_url }}'>Home</a></li>
        <li>
          <a href='{{ "editorial" | absolute_url }}'>Editorial Details</a>
        </li>
        <li><a href='{{ "history" | absolute_url }}'>History</a></li>
        <li><a href='{{ "payment" | absolute_url }}'>Payment Details</a></li>
        <li>
          <a href='{{ "connect-pocket" | absolute_url }}'>Pocket Connection</a>
        </li>
        <li>
          <a href='{{ "tos" | absolute_url }}'>TOS</a> &
          <a href='{{ "privacy" | absolute_url }}'>Privacy</a>
        </li>
        <li>
          <a href='{{ "stories" | absolute_url }}'
            >About <em>Walden Pond</em></a
          >
        </li>
        <li><a href='{{ "tips" | absolute_url }}'>How to</a></li>
        <li><a href='{{ "debug" | absolute_url }}'>Data & change log</a></li>
        <li><a href='{{ "blog" | absolute_url }}'>Blog</a></li>
      </ul>
      <p><a href='{{ "/logout" | absolute_url }}' id="sign-out">Sign Out</a></p>
    </div>
  </div>

  <script src='{{ "js/header.js" | absolute_url }}'></script>
</header>
