<header class="site-header">
  <div class="wrapper {{page.type}}">
    <h1>
      <a class="site-title" href="{{ site.baseurl }}/home">{{ site.title }}</a>
    </h1>

    <div class="hamburger">
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100">
        <!-- prettier-ignore -->
        <line id="t" x1="10" x2="90" y1="30" y2="30" stroke="#000" stroke-linecap="round" stroke-width="10"/>
        <!-- prettier-ignore -->
        <line id="m" x1="10" x2="90" y1="50" y2="50" stroke="#000" stroke-linecap="round" stroke-width="10"/>
        <!-- prettier-ignore -->
        <line id="b" x1="10" x2="90" y1="70" y2="70" stroke="#000" stroke-linecap="round" stroke-width="10"/>
      </svg>
    </div>

    <div class="profile">
      <p id="header-profile-name"></p>
      <img
        id="header-profile-picture"
        class="img-circle profile-preview"
        src="https://placebear.com/100/100"
      />
      <p class="name"></p>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="editorial">Editorial Details</a></li>
        <li><a href="history">History</a></li>
        <li><a href="payment">Payment Details</a></li>
        <li><a href="connect-pocket">Pocket Connection</a></li>
        <li><a href="tos">TOS</a> & <a href="privacy">Privacy</a></li>
        <li>
          <a href="stories">About <em>Walden Pond</em></a>
        </li>
        <li><a href="tips">How to</a></li>
        <li><a href="debug">Data & change log</a></li>
      </ul>
      <p><a href="/logout" id="sign-out">Sign Out</a></p>
    </div>
  </div>

  <script src="js/header.js"></script>
</header>
