<template id="article-template">
  <div class="article-preview">
    <img class="feature-img" src="https://placebear.com/200/300" />
    <img class="domain-meta" src="" title="" />
    <h3 class="preview-title">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href=""
        title="See this article in Pocket"
        >TITLE</a
      >
    </h3>
    <p class="exerpt">
      I would have got away with it if it wasn't for you pesky kids
    </p>
    <p class="meta">
      <span class="minutes"></span> minutes to read
      <a href="" title="See this article on its own website">🔗</a>
    </p>
  </div>
</template>

<h2 class="article-preview-placeholder">
  Here are some of your recent Pocket saves
</h2>
<div class="article-preview article-preview-placeholder">
  <img
    class="feature-img"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
  />
  <img class="domain-meta" src="" title="" />
  <h3 class="preview-title">(☞ﾟヮﾟ)☞</h3>
  <p class="exerpt">
    I would have got away with it if it wasn't for you pesky kids
  </p>
  <p class="meta"><span class="minutes">10</span> minutes to read</p>
</div>
<div class="article-preview article-preview-placeholder">
  <img
    class="feature-img"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
  />
  <img class="domain-meta" src="" title="" />
  <h3 class="preview-title">(⌐■_■)</h3>
  <p class="exerpt">
    I would have got away with it if it wasn't for you pesky kids
  </p>
  <p class="meta"><span class="minutes">10</span> minutes to read</p>
</div>
<div class="article-preview article-preview-placeholder">
  <img
    class="feature-img"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
  />
  <img class="domain-meta" src="" title="" />
  <h3 class="preview-title">╰(*°▽°*)╯</h3>
  <p class="exerpt">
    I would have got away with it if it wasn't for you pesky kids
  </p>
  <p class="meta"><span class="minutes">10</span> minutes to read</p>
</div>
<div class="article-preview article-preview-placeholder">
  <img
    class="feature-img"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
  />
  <img class="domain-meta" src="" title="" />
  <h3 class="preview-title">ƪ(˘⌣˘)ʃ</h3>
  <p class="exerpt">
    I would have got away with it if it wasn't for you pesky kids
  </p>
  <p class="meta"><span class="minutes">10</span> minutes to read</p>
</div>
<div class="article-preview article-preview-placeholder">
  <img
    class="feature-img"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
  />
  <img class="domain-meta" src="" title="" />
  <h3 class="preview-title">◑﹏◐</h3>
  <p class="exerpt">
    I would have got away with it if it wasn't for you pesky kids
  </p>
  <p class="meta"><span class="minutes">10</span> minutes to read</p>
</div>
<div class="article-preview article-preview-placeholder">
  <img
    class="feature-img"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
  />
  <img class="domain-meta" src="" title="" />
  <h3 class="preview-title">（⊙ｏ⊙）</h3>
  <p class="exerpt">
    I would have got away with it if it wasn't for you pesky kids
  </p>
  <p class="meta"><span class="minutes">10</span> minutes to read</p>
</div>
<div class="article-preview article-preview-placeholder">
  <img
    class="feature-img"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
  />
  <img class="domain-meta" src="" title="" />
  <h3 class="preview-title">(⊙_◎)</h3>
  <p class="exerpt">
    I would have got away with it if it wasn't for you pesky kids
  </p>
  <p class="meta"><span class="minutes">10</span> minutes to read</p>
</div>
<div class="article-preview article-preview-placeholder">
  <img
    class="feature-img"
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
  />
  <img class="domain-meta" src="" title="" />
  <h3 class="preview-title">༼ つ ◕_◕ ༽つ</h3>
  <p class="exerpt">
    I would have got away with it if it wasn't for you pesky kids
  </p>
  <p class="meta"><span class="minutes">10</span> minutes to read</p>
</div>
