<div class="payment-grid">
<div class="print-title">
<h1>Printed</h1>
</div>
<div class="title-1-hr">
<!-- <img src="./img/50_page_book.png"> -->
<h1>1 hour</h1>
</div>
<div class="title-2-hr">
<!-- <img src="./img/50_page_book.png"> -->
<h1>2 hours</h1>
</div>
<div class="title-4-hr">
<!-- <img src="./img/50_page_book.png"> -->
<h1>4 hours</h1>
</div>
<div class="print-1-hr">
<span class="text-description">1 hour</span>
<span class="product-name">⏳📖</span>
<span class="price" title="USD">$10</span>
</div>
<div class="print-2-hr">
<span class="text-description">2 hours</span>
<span class="product-name">⏳⏳📖</span>
<span class="price" title="USD">$12</span>
</div>
<div class="print-4-hr">
<span class="text-description">4 hours</span>
<span class="product-name">⏳⏳⏳⏳📖</span>
<span class="price" title="USD">$14</span>
</div>
<div class="pdf-title">
<h1>Digital</h1>
</div>
<div class="pdf-1-hr">
<span class="text-description">1 hour</span>
<span class="product-name">⏳💻</span>
<span class="price" title="USD">$4</span>
</div>
<div class="pdf-2-hr">
<span class="text-description">2 hours</span>
<span class="product-name">⏳⏳💻</span>
<span class="price" title="USD">$5</span>
</div>
<div class="pdf-4-hr">
<span class="text-description">4 hours</span>
<span class="product-name">⏳⏳⏳⏳💻</span>
<span class="price" title="USD">$6</span>
</div>
</div>
