<!-- Docs here https://dev.twitter.com/cards/types/summary-large-image -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@waldenpondzine" />
<meta name="twitter:creator" content="@waldenpondzine" />
<meta name="twitter:title" content="Walden Pond" />
<meta
  name="twitter:description"
  content="A zine full of articles you already know you want to read."
/>
<meta
  name="twitter:image"
  content="https://waldenpond.press/img/frontPageImage.jpg"
/>
