<h2>What people think</h2>

<link
  rel="stylesheet"
  href="https://unpkg.com/flickity@2/dist/flickity.min.css"
/>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<style>
  .gallery-cell {
    width: 66%;
    /* height: 200px; */
    /* margin-right: 2em; */
    padding: 1em;
    /* background: #8c8; */
    /* counter-increment: gallery-cell; */
  }
</style>

<div
  class="main-gallery js-flickity"
  data-flickity-options='{ "cellAlign": "left", "contain": true, "wrapAround": true, "autoPlay": true }'
>
  <div class="gallery-cell">
    <img
      src="https://pbs.twimg.com/profile_images/1272358892144439296/zgL0RCw__400x400.jpg"
      class="blurb-mugshot"
    />
    <p>
      When I cracked open my first edition I felt like it had been grown in a
      lab just for me. The perfect digital detox.
    </p>
    <span class="testimonial-name"
      ><a href="https://twitter.com/wateryone">Jenn, librarian</a>.</span
    >
  </div>
  <div class="gallery-cell">
    <img
      src="https://pbs.twimg.com/profile_images/970835043554856960/6lr_2cbH_400x400.jpg"
      class="blurb-mugshot"
    />
    <p>
      I'm about to get my third curated edition of Walden Pond and I'm really
      looking forward to receiving it. Reading online articles in a physical
      book has been wonderfully relaxing, especially over a cup of coffee or
      breakfast in the morning. This service has not only helped me to reduce my
      screen time, it's been a welcome reminder that there are articles, ideas,
      and stories "past me" wanted to read, but didn't have time to do so. Now I
      can incorporate my reading into self-care time and really enjoy exploring
      topics that piqued my interest and keep me inspired.
    </p>
    <span class="testimonial-name"
      ><a href="https://twitter.com/angelajgreco">Angela, Learning Designer</a
      >.</span
    >
  </div>
  <div class="gallery-cell">
    <img src="./img/julz.jpg" class="blurb-mugshot" />
    <p>
      I read on a screen all day for work, so taking time to read on a physical
      zine custom curated by me makes my leisure reading really enjoyable. Great
      quality printing and integrates really well with my pocket.
    </p>
    <span class="testimonial-name">Jülz, engineer.</span>
  </div>
  <div class="gallery-cell">
    <img
      src="https://pbs.twimg.com/profile_images/1049961165156159488/-CLBtk5Z_400x400.jpg"
      class="blurb-mugshot"
    />
    <p>
      With Walden Pond, I no longer need to email articles to myself to (never)
      read later. Now I get a surprise pick of articles I've saved to pocket. It
      comes in a perfectly sized paper format - which is just right for
      squeezing in a bit of reading whenever and wherever I have time.
    </p>
    <span class="testimonial-name"
      ><a href="https://twitter.com/RonieWalters">Ronie, PhD student</a>.</span
    >
  </div>
  <div class="gallery-cell">
    <img
      src="https://pbs.twimg.com/profile_images/1260675067601657856/n64Ef2st_400x400.jpg"
      class="blurb-mugshot"
    />
    <p>
      Walden Pond is one of those genius ideas because it is so simple - why
      hasn't anyone thought of this before? For me, it straddles a difficult
      dichotomy between wanting to disconnect from digital media and desiring to
      stay in touch, connected and up to date. I find reading on paper helps me
      to assimilate information better and being able to annotate helps
      formulate my ideas. Oh and it's beautiful, too!
    </p>
    <span class="testimonial-name"
      ><a href="https://twitter.com/he4therlouise">Heather, teacher</a>.</span
    >
  </div>
  <div class="gallery-cell">
    <img src="./img/ben.jpg" class="blurb-mugshot" />
    <p>
      I take mine to a cafe, and leave my phone at home. If I take the phone it
      takes two hours to read, without the phone it takes an hour. If I try
      reading long articles on the Pocket app, I don't know how long it would
      take, I always get distracted!
      <span class="testimonial-name"
        ><a href="https://twitter.com/notionparallax">Ben, developer</a>.</span
      >
    </p>
  </div>
  <div class="gallery-cell">
    <img
      src="https://pbs.twimg.com/profile_images/946097475156189185/qt7YBjTM_400x400.jpg"
      class="blurb-mugshot"
    />
    <p>
      Walden Pond removes all distractions and relieves my FOMO by delivering
      exactly what I want to read... when I'll actually read it. I'm obsessed.
    </p>
    <span class="testimonial-name"
      ><a href="https://twitter.com/derekflanz">Derek</a>.</span
    >
  </div>
</div>
