@media only screen and (max-width: 812px) {
  .index-menu {
    display: none;
  }
}
.index-menu {
  font-family: "Raleway Dots";
  font-size: 90%;
  font-weight: bold;
  padding-top: 0.5rem;
  position: absolute;
  right: 1rem;
  ul {
  }
  li {
    display: inline-block;
    padding: 0 1rem;
    a {
      background-color: hsla(0, 0%, 0%, 0.4);
      border-radius: 1.1rem;
      color: white;
      padding: 0.2rem 1rem 0.3rem 1rem;
    }
    a:visited {
      color: hsla(200, 100%, 90%, 1);
    }
  }
}
