form.link-expander {
  background: #00eeff;
  border-radius: 0 2em 2em 0;
  font-size: 85%;
  height: 3.5em;
  left: calc((100vw * -1) + 4.2em);
  margin-top: 0;
  padding: 0.2em 0.4em 0.2em 0.4em;
  position: absolute;
  text-align: right;
  transition: all 0.3s;
  width: 90vw;
  z-index: 1000;

  &.out {
    left: -0.5em;
    button.link-expander {
      transform: rotate(180deg) translateY(-0.1em);
    }
  }
  label {
    width: 6em;
    display: inline-block;
  }
  input {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5em;
    font-family: inherit;
    padding: 0.7em 0.2em;
    text-align: center;
    transform: translateY(-0.6em);
    width: 5em;
  }
  a {
    background-color: greenyellow;
    border-radius: 1em;
    display: inline-block;
    opacity: 0.1;
    padding: 0 0.2em;
    pointer-events: none;
    transform: translateY(-0.6em);
    transition: opacity 0.3s;
    &.live {
      opacity: 1;
      pointer-events: all;
    }
  }
  button.link-expander {
    background-color: initial;
    border-radius: initial;
    border: initial;
    cursor: initial;
    font-size: 200%;
    margin: initial;
    padding: initial;
    text-align: center;
    text-decoration: none;
    transition: all 0.6s;
    transition-timing-function: cubic-bezier(0.2, -0.5, 0.46, 2);
    width: initial;
  }
  @media only screen and (min-width: 812px) {
    background: #00eeff;

    font-size: 150%;
    height: initial;
    left: -18em;
    margin-top: 0.5rem;
    padding: 0.1em 0.2em 0.2em 0;
    width: 20em;
    button.link-expander {
      font-size: 100%;
    }
    label {
      width: 10em;
      display: inline-block;
    }
    input,
    a {
      transform: none;
    }
    form.link-expander input {
      padding: 0.2em;
    }
  }
}
