@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP|Raleway|Cinzel+Decorative|Raleway+Dots");

:root {
  --body-bg-colour: HSLA(60, 10%, 98%, 1);
  --big-img-width: 98.5vw;
  --main-column-width: 38em;
  --preview-width: 9rem;
  --main-text-colour: black;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: var(--body-bg-colour);
  font-family: "Noto Serif JP", serif;
  font-size: 18px;
  padding: 0;
  word-break: break-word;
}
@media only screen and (min-width: 550px) {
  body {
    font-size: 21px;
  }
}

.page-content {
  margin: auto;
  max-width: var(--main-column-width);
  min-height: 64vh;
  padding: 0 1em;
  transition: opacity 0.5s;
  .invisible {
    opacity: 0;
  }
}
@media only screen and (min-width: 812px) {
  .page-content {
    padding: 0;
  }
}
sup {
  vertical-align: super;
  font-size: smaller;
}
h1 {
  border-bottom: 0.5mm solid black;
  column-span: all;
  font-family: "Raleway Dots", cursive;
  font-size: 200%;
  font-weight: lighter;
  padding: 1rem 0;
}
.name-title {
  font-size: 400%;
}

a.site-title {
  border: none;
  color: var(--main-text-colour);
  margin-left: 1rem;
  text-decoration: none;
}
a.site-title:visited {
  color: var(--main-text-colour);
}

h2,
h3,
h4,
h5 {
  margin-bottom: 1em;
  font-family: "Raleway", sans-serif;
  break-inside: avoid;
  page-break-inside: avoid;
}
p {
  margin-bottom: 1em;
  widows: 2;
  orphans: 2;
}
p.reset {
  margin: 0 -1em;
}
@media only screen and (min-width: 812px) {
  p.reset {
    margin: 0;
  }
}
section {
  /* border-bottom: 1px solid HSLA(0, 0%, 0%, 0.05); */
  border-top: 1px solid HSLAa(0, 0%, 0%, 0.05);
  margin-bottom: 1em;
  padding: 1rem 2rem;
  max-width: 45rem;
  margin: 0 auto;
}
a {
  border-bottom: 3px solid rgba(31, 89, 122, 0.05);
  color: #1f597a;
  text-decoration: none;
  transition: all 0.2s;
}
a:visited {
  color: HSLA(202, 80%, 39%, 1);
}
a:hover {
  cursor: pointer;
}

button,
a.button {
  background-color: HSLA(0, 0%, 100%, 0.8);
  border-radius: 0.12em;
  border: 0.1em solid black;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: 300;
  margin: 1em 0;
  padding: 0.35em 1.2em;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  width: 100%;
}
button:hover,
a.button:hover,
button:active,
a.button:active,
button:focus,
a.button:focus {
  color: white;
  background-color: black;
}
a#stripe-link:hover img,
a#stripe-link:active img,
a#stripe-link:focus img {
  filter: invert(1);
}

a.stealth-link {
  border: none;
  color: inherit;
  cursor: vertical-text;
  text-decoration: none;
}
button.disabled,
a.button.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.auth-with-pocket,
.subscribe-with-stripe {
  text-align: center;
}

.auth-with-pocket img,
.subscribe-with-stripe img {
  height: 1.1em;
  transform: translateY(5px);
  width: initial;
}

img {
  width: 100%;
}

.img-circle {
  width: 2em;
  border-radius: 50%;
  transform: translateY(0.6em);
}

.range-output {
  float: right;
}

/* loading BG */

.loading {
  background: linear-gradient(
    90deg,
    var(--body-bg-colour) 0%,
    var(--body-bg-colour) 45%,
    rgba(0, 0, 0, 0.5) 50%,
    var(--body-bg-colour) 55%,
    var(--body-bg-colour) 100%
  );
  background-size: 200% 100%;
  animation: show_loading 3s ease-in-out infinite;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: show_loading;
}
@keyframes show_loading {
  0% {
    background-position: 0% 23%;
  }
  50% {
    background-position: 100% 78%;
  }
  100% {
    background-position: 0% 23%;
  }
}
/* Checkbox styling */
input[type="checkbox"] {
  height: 1em;
}

.form-group {
  background-color: HSLA(0, 0%, 100%, 0.2);
  border-radius: 0.5em;
  border: 1px solid silver;
  margin: 0.25em;
  padding: 0.5em;
}
.form-group p {
  font-size: 80%;
}
.form-group ul {
  font-size: initial;
  margin-left: 2em;
}

.slider {
  width: 100%;
}
input[type="text"] {
  border: 2px solid #0b0c0c;
  box-sizing: border-box;
  font-weight: 400;
  height: 2.5rem;
  line-height: 1.25;
  margin-top: 0;
  padding: 5px;
  width: 100%;
}

.graph-loading-message {
  max-width: 30rem;
  margin: auto;
  font-size: 80%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Loadingsome.gif/512px-Loadingsome.gif);
  height: 18em;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.pocket-bare-warning {
  margin: 1em;
  padding: 1em;
  border: solid orange 2px;
  border-radius: 1em;
  background-color: oldlace;
}

.hamburger {
  height: 2em;
  padding-right: 1em;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  z-index: 1000;
}
.hamburger svg {
  width: 3em;
  opacity: 50%;
}
.hamburger img {
  transform: translateY(-0.5em);
}

.profile {
  background-color: azure;
  display: block;
  height: 100vh;
  line-height: 2;
  padding-top: 4em;
  position: fixed;
  right: -100vw;
  text-align: center;
  top: 0;
  transition: all 0.2s ease-in-out;
  /* width: 12em; */
  z-index: 500;
}

.profile.menu-active {
  right: 0;
  width: 100vw;
}
@media only screen and (min-width: 812px) {
  .profile.menu-active {
    box-shadow: -16px 0px 22px 0px rgba(0, 0, 0, 0.26);
    max-width: 15em;
  }
}
.profile ul {
  padding: 0;
}
.profile li {
  display: block;
}

figure {
  float: right;
  max-width: 40vw;
  width: 10em;
}
figure img {
  max-height: 5em;
}
figure figcaption {
  font-size: 70%;
}
.post-content {
  hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  }
  li {
    clear: both;
  }
  figure {
    clear: both;
    float: unset;
    max-width: unset;
    width: unset;
    &.v-clip {
      max-height: 20rem;
      overflow: hidden;
      // border-bottom: 30px solid;
      // border-image: repeating-linear-gradient(0deg, #fff0, white 30px) 30;
    }
    &.half-width {
      width: 50%;
      &.right {
        float: right;
      }
      &.left {
        float: left;
      }
    }
    img {
      max-height: unset;
      max-width: unset;
    }
  }
  .footnotes {
    font-size: 75%;
    margin-top: 4em;
    width: 80%;
    min-width: 20rem;
    border-top-width: 3px;
    border-top-style: dotted;
    border-top-color: silver;
  }
}

.whisper {
  font-size: 70%;
  background-color: chartreuse;
  padding: 0 1em;
}

.long-story {
  column-width: 17em;
}
.long-story h2 {
  column-span: all;
}
.what-is-pocket img {
  display: inline-block;
  height: 1em;
  transform: translateY(0.2em) scale(1.5) translateX(0em);
  width: 6em;
}
.what .lake-img,
.yeah-but-why img {
  width: 40%;
  float: right;
  mix-blend-mode: multiply;
  clear: both;
}

blockquote {
  margin: 1em;
}
blockquote p {
  margin-left: -0.5em;
  display: inline;
  font-size: 90%;
}

.use-case img {
  border-radius: 50%;
  float: left;
  height: 3em;
  margin-left: -3.5em;
  width: auto;
}
.use-case li {
  list-style-type: none;
  margin: 1em 0;
  padding-left: 3.5em;
}
.use-case span.testimonial-name {
  float: right;
  font-size: 80%;
  opacity: 0.8;
}

.icon > svg {
  display: inline-block;
  height: 1.3em;
  vertical-align: middle;
}

.icon > svg path {
  fill: #999999;
}

/* payments */
.title-1-hr,
.title-2-hr,
.title-4-hr {
  display: none;
}
.payment-grid button span {
  display: block;
}
.payment-grid p button {
  margin: 0;
  position: relative;
}
.Subscribe-with-Stripe {
  bottom: 1.2em;
  font-size: 50%;
  line-height: 1.2;
  position: absolute;
  right: 1.2em;
  text-align: right;
  width: 7em;
}
.subscription-selected {
  background: #00eeff;
}
@media only screen and (min-width: 812px) {
  .payment-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .payment-grid p {
    margin: 0;
  }
  .title-1-hr,
  .title-2-hr,
  .title-4-hr {
    text-align: center;
    display: initial;
    margin: auto;
  }
  .title-1-hr {
    grid-area: 1 / 2 / 2 / 3;
  }
  .title-2-hr {
    grid-area: 1 / 3 / 2 / 4;
  }
  .title-4-hr {
    grid-area: 1 / 4 / 2 / 5;
  }
  .print-title {
    grid-area: 2 / 1 / 3 / 2;
  }
  .print-1-hr {
    grid-area: 2 / 2 / 3 / 3;
  }
  .print-2-hr {
    grid-area: 2 / 3 / 3 / 4;
  }
  .print-4-hr {
    grid-area: 2 / 4 / 3 / 5;
  }
  .pdf-1-hr {
    grid-area: 3 / 2 / 4 / 3;
  }
  .pdf-2-hr {
    grid-area: 3 / 3 / 4 / 4;
  }
  .pdf-4-hr {
    grid-area: 3 / 4 / 4 / 5;
  }
  .pdf-title {
    grid-area: 3 / 1 / 4 / 2;
  }
  .payment-grid div {
    padding: 0.5em;
  }
  .payment-grid button span.text-description {
    display: none;
  }
  button.checkout-button:hover:after,
  button.checkout-button:active:after,
  button.checkout-button:focus:after {
    background-image: url(/img/Stripe%20logo%20-%20slate_sm.png),
      linear-gradient(
        150deg,
        HSLA(250, 100%, 60%) 15%,
        HSLA(190, 100%, 51%) 70%,
        HSLA(145, 100%, 83%) 94%
      );
    background-position: 85% 0, 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1em;
    bottom: -1.3em;
    color: HSLA(230, 34%, 29%);
    content: "Subscribe with";
    font-family: "Raleway", sans-serif;
    font-size: 54%;
    font-weight: bold;
    left: 0;
    padding: 0.4em 0 0.4em 3em;
    position: absolute;
    text-align: left;
    width: calc(100% - 3em);
  }
}

/* home */
.onboarding-flow br {
  display: none;
}
.onboarding-flow li {
  list-style-type: none;
}
span.check.pocket_access,
span.check.payment {
  transform: translateX(-0.5em);
  display: inline-block;
}
@media only screen and (min-width: 812px) {
  .onboarding-flow li {
    background-color: HSLA(34, 78%, 91%, 0.4);
    border-radius: 1em;
    display: inline-block;
    margin: 1em 1.5em;
    padding: 0 1.5em;
    vertical-align: top;
    width: 30%;
  }
  .onboarding-flow li strong {
    margin-left: -1em;
  }
  .onboarding-flow div {
    text-align: center;
  }
  .onboarding-flow br {
    display: inline;
  }
  .beta-message {
    font-size: 80%;
  }
  span.check.pocket_access,
  span.check.payment {
    transform: initial;
    display: block;
  }
}

/* index */
.mega-image {
  height: 64vw;
  margin: 0;
  object-fit: cover;
  object-position: 50% 90%;
  width: 100%;
}
@media only screen and (min-width: 812px) {
  .mega-image {
    height: 60vh;
    margin-left: calc((var(--big-img-width) - var(--main-column-width)) * -0.5);
    object-fit: cover;
    object-position: 50% 90%;
    width: var(--big-img-width);
  }
  .pricing span.text-description {
    display: none;
  }
  span.product-name {
    display: block;
  }
  .pricing .payment-grid div {
    text-align: center;
  }
}
.text-description {
  min-width: 5rem;
  display: inline-block;
}
.index h2 {
  margin-top: 6em;
  clear: both;
}

.value-prop {
  font-size: 120%;
  text-align: center;
}
.secondary-prop {
  font-size: 90%;
  opacity: 65%;
}

/* footer */
footer {
  background-color: HSLA(0, 0%, 0%, 0.8);
  border-top: 1px solid;
  box-shadow: inset 0px 20px 10px 0px rgba(0, 0, 0, 0.75);
  color: HSLA(0, 0%, 100%, 0.85);
  column-rule: 1px solid HSLA(0, 0%, 100%, 0.6);
  font-size: 70%;
  margin-top: 10em;
  padding: 1em;
  padding-top: 3em;

  a {
    color: HSLA(314deg, 100%, 82%, 1);
  }
  a:visited {
    color: HSLA(200deg, 50%, 73%, 1);
  }
  .footer-content {
    column-width: 17em;
    margin: auto;
    max-width: 60em;
  }
  footer h2 {
    column-span: all;
  }
  .footer-content div {
    break-inside: avoid-column;
  }
  .social-media-list {
    list-style-type: none;
  }
  ul li a {
    height: 2em;
    display: inline-block;
  }
}
/* Firebase login */
.firebaseui-tos.firebaseui-tospp-full-message {
  color: HSLA(0, 0%, 35%, 1);
}
.firebaseui-idp-text-long {
  text-align: center;
}

/* article preview page */
.articles-container {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  min-height: 25rem;
}
.articles-container h2 {
  display: block;
  width: 100%;
  padding-bottom: 1em;
}
.article-preview {
  border-radius: 0.5em;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.15);
  display: inline-block;
  flex: 0 1 auto;
  font-size: 70%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin: 0 0.3rem;
  max-height: calc(22em - 5rem);
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: var(--preview-width);
}
.article-preview img.feature-img {
  height: calc(var(--preview-width) - 5rem);
  width: var(--preview-width);
  object-fit: cover;
  background: linear-gradient(to bottom, #43cea2, #185a9d);
}
@media only screen and (min-width: 550px) {
  .article-preview {
    max-height: 22em;
  }
  .article-preview img.feature-img {
    height: var(--preview-width);
  }
}
h3.preview-title,
p.exerpt,
p.meta {
  margin: 0;
  width: var(--preview-width);
}
p.exerpt {
  font-size: 80%;
}
p.meta {
  font-size: 70%;
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  margin: 0;
  padding: 2.5em 0 1em 0;
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--body-bg-colour),
    var(--body-bg-colour)
  );
}
p.meta a {
  float: right;
}
img.domain-meta {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 2em;
  /* mix-blend-mode: multiply; */
}

.show {
  display: block;
}
.hide {
  display: none;
}

/* history page */
.history-container {
  h2 {
    text-transform: capitalize;
  }
  & > div {
    // height: 4em;
    // overflow: hidden;
    // TODO: Add the js to control rolling these up so
    //       that you can see more history at once.
    transition: all 0.5s ease;
    padding-bottom: 1em;
  }
}

/* debug */
.monospace {
  font-family: monospace;
  font-size: 80%;
}
section#debug-data {
  column-width: 17em;
}

/* Firebase UI reset */
.firebaseui-form-actions button {
  width: auto;
}
.firebaseui-idp-password {
  /* default red is too full on */
  background-color: HSLA(5, 44%, 45%);
}

// Blog

.post-title {
  font-family: "Raleway";
  font-size: 300%;
}

// Old things
.editorial-redirect {
  font-size: 230%;
  margin-top: 1em;
}
.grid-container {
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    "Intro"
    "History"
    "Editorial";
}
@media only screen and (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: 0px 0px;
    grid-template-areas:
      "Intro Intro Intro Intro"
      "Editorial Editorial History History";
  }
}

.Intro {
  grid-area: Intro;
  max-width: 50rem;
  margin: auto;
}

.Editorial {
  grid-area: Editorial;
}

.History {
  grid-area: History;
}
.blog-container {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 2em;
}
.blog-container li {
  max-width: 17em;
  list-style: none;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.15);
}

p#header-profile-name {
  font-size: 80%;
  margin: 0;
}
