article#tos {
  --width: 35vw;
  --gutter: 2em;

  width: var(--width);
  position: relative;

  .more-simply-put {
    position: absolute;
    right: calc(-1 * (var(--width) + var(--gutter)));
    width: var(--width);
  }
  .more-simply-put:before {
    content: "More simply put";
    font-weight: bold;
  }
}
