<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body itemscope="" itemtype="http://schema.org/Blog">
    <div class="page-content {{page.type}}">
      <noscript>
        <p>
          Looks like you've got JS turned off. Quite a lot of things won't work
          properly. ☹
        </p>
      </noscript>
      {{ content }}
    </div>

    {% include footer.html %}

    <!-- <script src="{{'/js/ga-events.js' | prepend: site.baseurl }}" type="text/javascript"></script> -->
    <!-- {% include ga-tracking.html %} -->
    <!-- {% include socialScript.html %} -->
    <!-- {% include balance_text.html %} -->
  </body>
</html>
